:root {
  --gold: #c7a86f;
  --dark-gold: #b28a5b;
  --white: #fff;
  --dark: #222;
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--white);
  color: var(--dark);
}

.text-gold {
  color: var(--gold);
}

.bg-gold {
  background-color: var(--gold);
}

.btn {
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-gold {
  background-color: var(--gold);
  color: white;
}

.btn-gold:hover {
  background-color: var(--dark-gold);
}
